replicaCount: 2

image:
  tag: "latest"

frontend:
  replicaCount: 2
  image:
    repository: nginx
  service:
    type: ClusterIP
    port: 80
  livenessProbe:
    httpGet:
      path: /
      port: 80
    initialDelaySeconds: 5
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /
      port: 80
    initialDelaySeconds: 5
    periodSeconds: 10

backend:
  replicaCount: 2
  image:
    repository: solyankin/simple-flask-app
  service:
    type: ClusterIP
    port: 5000
  livenessProbe:
    httpGet:
      path: /health
      port: 5000
    initialDelaySeconds: 5
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /ready
      port: 5000
    initialDelaySeconds: 5
    periodSeconds: 10

ingress:
  enabled: true

  className: nginx

  host: app.nginx.example.com

  pathType: Prefix

  annotations:
    kubernetes.io/ingress.class: "nginx"
